.dark-mode {
    background-color: #1b151f;
    color: white;
}

.dm {
    background-color: #18131c;
}

.dm1 {
    background-color: #1b151f;
}

.list-dm {
    background-color: #1b151f;
    border: 1px solid rgba(255, 255, 255, 255);
}

.center {
    text-align: center;
    margin: 0 auto;
}

form.example input[type=text] {
    padding: 3px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 3px;
    background: #2196F3;
    color: white;
    font-size: 24px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}

input {
    color: black !important;
}

.dm2 {
    /* border: 1px solid white; */
    background-color: #1b151f;
    color: white;
}

.col-sm-4 {
    padding-bottom: 50px;
}